# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
# Reports
reports/html-report/
reports/logs/
reports/screenshots/
reports/cucumber-report.json
reports/cucumber-report.html
report/allure-results/
report/cucumber/
@rerun.txt/
downloads/
allure-report/
allure-results/
